#main-site-tagline  {
    font-size: 0.7em;
    font-weight: normal;
}

.carousel-inner {
    height: 550px;
}

.text-hamkke-purple {
    color: #662687;
}

.bg-hamkke-primary {
    background-color: #a463bf;
    color: #ffffff;
}

.card-text span {
    font-size: 14px !important;
    margin-left: 0 !important;
}


.category-posts-div .nav {
    display: block;
    margin-bottom: 20px;
}

.forum-div .nav-link,
.learnkorean-div .nav-link,
.store-div .nav-link,
.category-posts-div .nav-link {
    padding: 0;
    text-align: left;
    width: 100% !important;
}

.forum-div .nav-link a,
.learnkorean-div .nav-link a,
.store-div .nav-link a,
.category-posts-div .nav-link a {
    padding: 20px;
    width: 100%;
    color: #404040;
    text-decoration: none;
}

.forum-tags .badge {
    border: 1px solid #945ab3;
    color: #945ab3;
    font-size: 12px;
}

.about-div {
    background-image: url('/frontend-assets/about-us.png');
}

.article-div img {
    max-width: 100%;
}

.post-comment-button {
    color: #a8a8a8;
}

.post-comment-button img {
    width: 18px;
    margin: 0 20px 0 5px;
}

.post-comment-content {
    display: inline-block;
    position: relative;
    background-color: #ffffff;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px;
    z-index: 1;
    margin-top: 15px;
}

.card-box {
    height: auto;
}

.card-box .overlay {
    height: auto;
}

.card-box .overlay p {
    margin-bottom: 0;
}

.card-box .overlay a {
    color: inherit;
    text-decoration: none;
}

.card-box .overlay a:hover {
    /*color: inherit;*/
    text-decoration: underline;
}

.card-box img {
    height: auto;
    width: 100%;
}


.comment-form {
    margin: 0 0 30px 0;
}

.comment-form textarea {
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #F3F4F6;
    width: 100%;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 400;
    color: #404040;
}

.comment-form input {
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #F3F4F6;
    width: 100%;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 400;
    color: #404040;
    margin-bottom: 0.25rem;
}

.comment-form input::placeholder {
    color: #a8a8a8;
    font-size: 14px;
    font-weight: 300;
}

.comment-section span {
    color: #662687;
    font-size: 14px;
    font-weight: 500;
}

.comment-form p {
    font-size: 10px;
    font-weight: 300;
    width: auto;
}

.comment-form .card-text {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    width: auto;
}

.comment-form .nav button {
    padding: 15px 30px;
    border-radius: 5px 5px 0 0;
    color: #662687;
    font-size: 16px;
    font-weight: 400;
}

.comment-form button.comment-submit-btn {
    padding: 15px 30px;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #662687;
    font-size: 16px;
    font-weight: 400;
}

.comment-form button:disabled {
    background-color: #662687;
    font-size: 16px;
    font-weight: 400;
}

.comment-form .form-check {
    margin: 0.5em 0;
}

.comment .card .nav.nav-tabs {
    margin-right: 0;
    margin-left: 0;
}

.form-check-input {
    margin-right: 0.5em;
    margin-left: -1.5em !important;
}

.form-check-label {
    margin: 0.5em 0;
    line-height: inherit;
}

#customerAuthForm {
    display: none;
}

#customerAuthForm.open {
    display: block;
}

.navbtn button {
    background-color: transparent;
    border: 1px solid #662687;
    margin-right: 10px;
    border-radius: 100px;
    font-size: 14px;
    color: #662687;
}

.navbtn button.bg-filled {
    outline: none;
    border-radius: 100px;
    background-color: #662687;
    font-size: 14px;
    width: 100px;
}

.navbtn .nav-login-link {
    text-decoration: none;
}

.navbtn button .nav-link {
    text-decoration: none;
    color: #662687;
}

.navbtn button.bg-filled .nav-link {
    color: #ffffff;
}

.navbtn .customer-auth-menu {
    display: inline-block;
}

.modal-dialog {
    max-width: 800px !important;
}

.post-box .form-control {
    padding: .375rem .75rem;
    border: 1px solid #a8a8a8;
}

.forum-div .nav-item.active button {
    font-weight: 600;
    color: #404040;
}

html:not([dir=rtl]) .select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-right: 1em;
}

.select2-container--default .select2-selection {
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #fff;
    border: 1px solid #a8a8a8;
    border-radius: 0.375rem;
}

.select2-selection--multiple .select2-selection__rendered {
    padding: 0.375rem;
}

.ql-snow.ql-toolbar,
.light-style .ql-snow .ql-toolbar {
    border: 0.0625rem solid #dbdade;
}

.profile-div img {
    width: 40px;
    margin-right: 15px;
    border-radius: 50%;
}

.modal.show .modal-dialog {
    margin-top: 50px;
}

.login label {
    margin-bottom: 0.3em;
    display: block;
}

.login label:not(:first-child) {
    margin-top: 1em;
}

.login input {
    margin-bottom: 0;
}

.login-body {
    background-color: #f2efef;
}

footer {
    background-color: #662687;
    padding: 50px;
    margin-top: 20px;
}

.customer-avatar {
    align-items: center;
    font-size: 1.5em;
}

.form-error {
    color: red;
    font-size: 12px;
}

.post-btn {
    background-color: #662687;
}

.sitewide-alert-modal .modal-body {
    padding: 20px 0;
}

.sitewide-alert-modal .modal-content {
    padding: 20px;
}

.sitewide-alert-modal .modal-body img {
    width: 80px;
    margin-bottom: 10px;
}

.sitewide-alert-modal .modal-header .btn-close {
    right: 2rem !important;
}

p.sitewide-alert-message {
    font-size: 18px;
    font-weight: 600;
    color: #404040;
}

/** === All answer === **/
.all-answers {
    margin-top: 60px;
}

.all-answers .title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.all-answers .filter-bar {
    background: var(--black_25);
    border: 1px solid var(--black_50);
    padding: 10px 30px;
    justify-content: space-between;
    border-radius: 4px;
}

.all-answers .filter-bar .custom-select {
    box-shadow: none;
}

.all-answers .filter-bar .custom-select:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem transparent;
    border: none;
}

.all-answers .filter-bar .custom-select::after {
    border-bottom: 1px solid #C3C3C3;
    border-right: 1px solid #C3C3C3;
    height: 6px;
    width: 6px;
    right: 5px;
}

.all-answers .filter-bar p {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 14px;
    color: var(--p_color);
}

.all-answers .filter-bar .nice-select {
    background: var(--black_25);
    height: 100%;
    border: 0;
    padding: 0 25px 0 0;
}

.all-answers .filter-bar .nice-select .list {
    width: 100px;
}

.all-answers .filter-bar .nice-select::-ms-expand {
    display: none;
}

.all-answers .forum-comment {
    margin-top: 30px;
}

.all-answers .forum-comment .comment-content {
    margin-left: 60px;
    margin-top: 10px;
    border-bottom: 1px solid var(--black_50);
    padding-bottom: 28px;
}

.all-answers .forum-comment .comment-content p {
    font-size: 14px;
    line-height: 1.6;
}

.all-answers .forum-comment .comment-content p:last-child {
    margin-bottom: 0;
}

.all-answers .forum-comment .comment-content .action-btns {
    margin-top: 20px;
    display: none;
    opacity: 0;
    transition: all 5s ease-in;
}

.all-answers .forum-comment:hover .comment-content .action-btns {
    display: block;
    opacity: 1;
}

.all-answers .pagination-wrapper {
    background: transparent;
    box-shadow: none;
    margin-top: 15px;
}

.custom-cart-icon {
    position: relative;
    margin-right: 0.2em;
}

.custom-cart-count {
    position: absolute;
    top: -5px;
    right: 0;
    z-index: 2;
    font-size: 11px;
    border-radius: 50%;
    background: #d60b28;
    width: 16px;
    height: 16px;
    line-height:16px;
    display: block;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.material-card {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}
.material-card:hover {
    box-shadow: 0 0 12px 0 rgba(0,0,0,.12);
}

.material-img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.material-details {
    padding: 20px;
}

.material-details p{
    margin-bottom: 25px;
}

.add-to-cart {
    padding: 0 20px 20px;
}
.add-to-cart button {
    padding: 10px 20px;
    outline: none;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}

.add-to-cart button img {
    width: 15px;
    height: auto;
    margin-right: 10px;
}

.quantity-div {
    max-width: 120px;
}
.quantity-div button{
    outline: none;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}

.add-to-cart button:hover, .add-to-cart .qty button:hover, .quantity-div .qty button:hover {
    background-color: #662687;
}

.add-to-cart .qty , .quantity-div .qty{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: unset;
}

.add-to-cart .qty label, .quantity-div .qty label{
    flex: 1 0 100%;
}
.add-to-cart .qty input, .quantity-div .qty input{
    width: 60%;
    height: 2.5rem;
    font-size: 14px;
    text-align: center;
    border: none;
}
.add-to-cart .qty button, .quantity-div .qty button{
    width: 20%;
    height: 2.5rem;
    color: #fff;
    font-size: 14px;
    background: #a463bf;
    padding: 0;
}
.quantity-div .qty {
    margin-bottom: unset;
}

.quantity-div .qty button {
    width: 25% !important;
    height: 2rem;
    font-size: 1em;
}

.quantity-div .qty input {
    width: 50% !important;
    height: 2rem;
    font-size: 1em;
}
.naira-prefix::before {
    content: "₦"
}

.item-row {
    padding: 20px 0;
}

.image-div img {
    border-radius: 10px;
}

.rounded-top-lg {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}
.user-profile-dropdown li, .user-profile-dropdown li span, .user-profile-dropdown li em{
    color: #662687;
}

.user-profile-dropdown .logout-section {
    text-align: center;
}

.user-profile-dropdown .logout-section span {
    color: #f78181;
    font-weight: bold;
    letter-spacing: 1px;
}

#toast-container:not(.toast-bottom-full-width, .toast-top-full-width) > div {
    width: 30em !important;
}

.toast-title {
    color: #ffffff;
}

.toast-close-button {
    color: #f2f2f2 !important;
}

.toast-top-center {
    top: 2em;
}

#like-button i{
    color: #404040;
}

.info-form input, .info-form select {
    margin: 5px 0;
    padding: 10px;
    outline: none;
    border: 0.6px solid #404040;
    background-color: transparent;
    width: 49%;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
    color: #404040;
}

@media (max-width: 991px) and (min-width: 768px) {

    .category-posts-div .col-md-3,
    .category-posts-div .col-md-9 {
        width: 100%;
    }

    .category-posts-div .nav {
        box-shadow: rgba(33, 35, 38, 0.1) 0 10px 10px -10px;
    }
    .carousel-inner {
        height: fit-content;
    }
}

@media (max-width: 767px) and (min-width: 575px) {
    .profile-div {
        text-align: justify;
    }

    .row>.post-impression {
        width: inherit;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .about-div {
        padding: 50px 0;
    }
}

@media (max-width: 576px) {
    .carousel-inner {
        height: fit-content;
    }

    .carousel-item {
        display: unset !important;
    }

    #main-site-tagline  {
        display:none;
    }

    .category-posts-div .nav {
        box-shadow: rgba(33, 35, 38, 0.1) 0 10px 10px -10px;
    }

    .group1 {
        padding: 1em 0;
    }

    body {
        min-width: unset;
    }
}
