.text-hamkke-purple{
    color: #662687;
}

.card-text span {
    font-size: 14px !important;
    margin-left: 0 !important;
}


.category-posts-div .nav {
    display: block;
    margin-bottom: 20px;
}

.forum-div .nav-link, .learnkorean-div .nav-link, .store-div .nav-link, .category-posts-div .nav-link {
    padding: 0;
    text-align: left;
    width: 100% !important;
}

.forum-div .nav-link a, .learnkorean-div .nav-link a, .store-div .nav-link a, .category-posts-div .nav-link a {
    padding: 20px;
    width: 100%;
    color: #404040;
    text-decoration: none;
}

.about-div {
    background-image: url('/frontend-assets/about-us.png');
}

.article-div img {
    max-width: 100%;
}

.post-comment-button {
    color: #a8a8a8;
}

.post-comment-button img {
    width: 18px;
    margin: 0 20px 0 5px;
}

.post-comment-content {
    display: inline-block;
    position: relative;
    background-color: #ffffff;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px;
    z-index: 1;
    margin-top: 15px;
}

.card-box{
    height: auto;
}

.card-box .overlay{
    height: auto;
}

.card-box .overlay p{
    margin-bottom: 0;
}

.card-box .overlay a{
    color: inherit;
    text-decoration: none;
}

.card-box .overlay a:hover{
    /*color: inherit;*/
    text-decoration: underline;
}

.card-box img {
    height: auto;
    width: 100%;
}


.comment-form{
    margin: 0 0 30px 0;
}

.comment-form textarea{
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #F3F4F6;
    width: 100%;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 400;
    color: #404040;
}

.comment-form input {
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #F3F4F6;
    width: 100%;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 400;
    color: #404040;
    margin-bottom: 0.25rem;
}

.comment-form input::placeholder{
    color: #a8a8a8;
    font-size: 14px;
    font-weight: 300;
}

.comment-section span{
    color: #662687;
    font-size: 14px;
    font-weight: 500;
}

.comment-form p{
    font-size: 10px;
    font-weight: 300;
    width: auto;
}

.comment-form .card-text{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    width: auto;
}

.comment-form .nav button {
    padding: 15px 30px;
    border-radius: 5px 5px 0 0;
    color: #662687;
    font-size: 16px;
    font-weight: 400;
}

.comment-form button.comment-submit-btn {
    padding: 15px 30px;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #662687;
    font-size: 16px;
    font-weight: 400;
}

.comment-form button:disabled {
    background-color: #662687;
    font-size: 16px;
    font-weight: 400;
}

.comment-form .form-check {
    margin: 0.5em 0;
}

.comment .card .nav.nav-tabs {
     margin-right: 0;
     margin-left: 0;
}

.form-check-input {
    margin-right: 0.5em;
    margin-left: -1.5em !important;
}

.form-check-label {
    margin: 0.5em 0;
    line-height: inherit;
}

#customerAuthForm{
    display: none;
}

#customerAuthForm.open{
    display: block;
}

.navbtn button{
    background-color: transparent;
    border: 1px solid #662687;
    margin-right: 10px;
    border-radius: 100px;
    font-size: 14px;
    color: #662687;
}

.navbtn button.bg-filled{
    outline: none;
    border-radius: 100px;
    background-color: #662687;
    font-size: 14px;
    width: 100px;
}

.navbtn .nav-login-link {
    text-decoration: none;
}

.navbtn button .nav-link{
    text-decoration: none;
    color: #662687;
}

.navbtn button.bg-filled .nav-link{
    color: #ffffff;
}

.modal-dialog {
    max-width: 800px !important;
}

.post-box .form-control{
    padding: .375rem .75rem;
    border: 1px solid #a8a8a8;
}

.forum-div .nav-item.active button {
    font-weight: 600;
    color: #404040;
}

html:not([dir=rtl]) .select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-right: 1em;
}

.select2-container--default .select2-selection {
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #fff;
    border: 1px solid #a8a8a8;
    border-radius: 0.375rem;
}

.select2-selection--multiple .select2-selection__rendered {
    padding: 0.375rem;
}

.ql-snow.ql-toolbar, .light-style .ql-snow .ql-toolbar {
    border: 0.0625rem solid #dbdade;
}

.profile-div img {
    width: 40px;
    margin-right: 15px;
    border-radius: 50%;
}
.modal.show .modal-dialog {
     margin-top: 50px;
}

.login-body {
    background-color: #f2efef;
}

footer {
    background-color: #662687;
    padding: 50px;
    margin-top: 20px;
}

.customer-avatar {
    align-items: center;
    font-size: 1.5em;
}

.form-error {
    color: red;
}

.post-btn {
    background-color: #662687;
}

@media (max-width: 991px) and (min-width: 768px) {
    .category-posts-div .col-md-3, .category-posts-div .col-md-9 {
        width: 100%;
    }
    .category-posts-div .nav {
        box-shadow: rgba(33, 35, 38, 0.1) 0 10px 10px -10px;
    }
}

@media (max-width: 767px) and (min-width: 575px) {
    .profile-div {
        text-align: justify;
    }

    .row > .post-impression {
        width: inherit;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .about-div {
        padding: 50px 0;
    }
}

@media (max-width: 576px) {
    .category-posts-div .nav {
        box-shadow: rgba(33, 35, 38, 0.1) 0 10px 10px -10px;
    }

    body {
        min-width: unset;
    }
}
