body {
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

/* LOGIN FORM */

.login-body {
    background-color: #F7F7F7;
}

.logo-div {
    margin: 2% 0 25px 0
}

.logo-div img {
    width: 70px;
    margin-right: 10px;
}

.logo-div div {
    font-size: 30px;
    font-weight: 800;
    color: #404040;
}

.login-div form {
    width: 450px;
    padding: 50px;
    background-color: #ffffff;
}

.login-btn {
    outline: none;
    border: none;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    background-color: #662687;
    width: 100%;
}

.login-btn a {
    text-decoration: none;
    color: #ffffff;
}

.login-div form .title {
    font-size: 20px;
    font-weight: 800;
    color: #404040;
    margin-bottom: 20px;
}

.login-div form p {
    font-size: 16px;
    font-weight: 300;
    color: #707070;
    margin-bottom: 20px;
}

.login input {
    width: 100%;
    border: 0.6px solid #a8a8a8;
    padding: 14px 20px;
    margin-bottom: 10px;
    border-radius: 2px;
    color: #404040;
    font-size: 14px;
    font-weight: 300;
}

.login input:focus {
    outline: 1px solid #404040 !important;
}

.check-div {
    margin: 5px 0 30px;
}

.check-div input {
    width: 35px;
    margin-right: 5px;
}

.check-div span {
    font-size: 14px;
    color: #404040;
    font-weight: 400;
}

.forget-link, .signup-link {
    font-size: 16px;
    color: #404040;
    font-weight: 400;
    margin-top: 25px;
}

.forget-link a, .signup-link a {
    color: #404040;
}

.forget-link {
    margin-top: 40px;
}

.or {
    font-size: 12px;
    color: #707070;
    font-weight: 300;
    margin: 20px 0;
}

.google-btn {
    outline: none;
    border: 1px solid #404040;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    background-color: #ffffff;
    width: 100%;
}

.google-btn img {
    width: 40px;
    margin-right: 20px;
}

.google-btn a {
    text-decoration: none;
    color: #404040;
    margin-right: 10px;
}


/* NAVBAR */

.navbar .navbar-brand {
    margin-right: 0;
    font-weight: 700;
    font-size: 30px;
    color: #404040;
}

.navbar .navbar-brand img {
    width: 40px;
    margin-right: 10px;
}

.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
    color: #404040;
}

.navbar-nav {
    margin-right: 50px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbtn button {
    background-color: transparent;
    border: 1px solid #662687;
    margin-right: 10px;
    border-radius: 100px;
    font-size: 14px;
    color: #662687;
}

.navbtn button:last-child {
    outline: none;
    border-radius: 100px;
    background-color: #662687;
    font-size: 14px;
    width: 100px;
}

.navbtn button .nav-link {
    text-decoration: none;
    color: #662687;
}

.navbtn button:last-child .nav-link {
    color: #ffffff;
}

.navbtn button img {
    width: 16px;
    margin-right: 10px;
}

.nav-item {
    font-size: 14px;
    margin-right: 10px;
}

.navbar {
    --bs-navbar-padding-y: 15px;
    background-color: #F7F7F7;
}

.nav-link {
    padding: 0.5rem 0.5rem;
}

.socials {
    margin-right: 50px;
}

.icon-bg {
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: #fafafa;
    border: 1px solid #e9e9e9;
    border-radius: 40px;
    margin: 0 10px;
    align-items: center;
    position: relative;
}

.icon-bg img {
    width: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* FORUM NAVBAR */

section .navbar {
    background-color: #ffffff;
}

section .navbar-nav {
    margin-right: 0;
}

section .navbar-expand-lg .navbar-collapse {
    justify-content: flex-start;
}

section .nav-item {
    margin-right: 0;
}

section .navbar-light .navbar-toggler {
    color: #404040;
    border-color: none;
}

section .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

section .nav-pills button img {
    width: 28px;
    margin-right: 10px;
}

section .navbar-toggler {
    padding: 10px;
}

.forum-div .nav-item.active, .post-div .nav-item:last-child {
    border-top: 0.5px solid #404040;
}

.forum-div .nav-item.active, .post-div .nav-item:last-child {
    border-top: 0.5px solid #404040;
}

.forum-div .nav-item.active button, .post-div .nav-item:last-child button {
    font-weight: 600;
    color: #404040;
}

.forum-div #navbarNav2 button {
    padding-left: 20px;
}

/* HEADER */

.carousel-inner {
    height: 450px;
}

.carousel-bg {
    background-color: #707070;
    border: 1px solid #e9e9e9;
    border-radius: 20px;
}

.carousel-overlay {
    position: absolute;

}

.carousel-overlay img {
    height: 450px;
    width: 500px;
}

.carousel-overlay .title {
    position: absolute;
    top: 150px;
    left: 90px;
}

.carousel-overlay h1 {
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
}

.carousel-overlay p {
    font-size: 20px;
    font-weight: 300;
    color: #fafafa;
    width: 400px;
}

/* BODY */
/* SECTION1 */

.section1 {
    background-color: #ffffff;
}

.title-div {
    margin-bottom: 40px;
}

.title-text {
    font-size: 20px;
    font-weight: 600;
    color: #404040;
}

.title-box {
    width: 50px;
    height: 5px;
    background-color: #662687;
}

.group1 {
    padding: 100px 0;
}

.group1 .col-md-2 {
    width: 22.2%;
}

.link-div {
    outline: none;
    border: 1px solid #662687;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 30px;
    background-color: transparent;
}

.link-div a {
    color: #662687;
    text-decoration: none;
    font-size: 14px;
}

.link-div a img {
    width: 20px;
}

.paragraph {
    font-size: 16px;
    color: #707070;
    font-weight: 300;
}

.card-box {
    height: 350px;
    background-color: #707070;
    border-radius: 15px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.card-box img {
    height: 100%;
    width: 100%;
}

.card-box .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    /* background-color: #ffffff; */
    background: rgba(34, 34, 34, 0.9);
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
}

.overlay p {
    padding: 20px;
    color: #fff;
    line-height: 25px;
    font-size: 16px;
    font-weight: 400;
}

.card-box span {
    margin-left: 10px;
}

.card-box span a {
    text-decoration: none;
    color: #a8b1ff;
}

/* SECTION2 */

.group2 {
    padding: 100px 0;
}

.section2 {
    background-color: #FCFBFB;
}

.card {
    border: 0.5px solid #fafafa;
    border-radius: 0;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

.group2 .card {
    padding: 25px;
}

.group2 .card-title {
    font-size: 18px;
    color: #404040;
    margin-top: 5px;
}

.group2 .card-text {
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0 20px 0;
    color: #707070;
}

.group2 .card-body {
    margin-top: 10px;
}

.profile-div {
    margin: 20px 0;
}

.profile-div img {
    width: 40px;
    margin-right: 15px;
}

.profile-div span {
    font-size: 16px;
    font-weight: 400;
}

.card-title {
    font-size: 18px;
    font-weight: 600;
    color: #404040;
    margin-top: 15px;
}

.article-div .like-div {
    margin-bottom: 20px;
}

.related-div .like-div .post-time {
    display: block;
    margin-top: 10px;
}

.like-div img, .dropdown-button img {
    width: 18px;
    margin-right: 20px;
    margin: 0 20px 0 5px;
}

.like-div span, .dropdown span {
    font-size: 14px;
    color: #707070;
    margin-right: 5px;
    font-weight: 300;
}

.like-div span .text, .dropdown span .text {
    font-size: 14px;
    color: #404040;
}

.comment-div {
    font-size: 14px;
    color: #a8a8a8;
    font-weight: 400;
}

.dropdown span .text .comment-link {
    font-weight: 500;
    color: #404040;
    text-decoration: underline;
}

/* SECTION3 */

.group3 {
    padding: 100px 0;
}

.section3 {
    background-color: #662687;
}

.section3 .title-text {
    color: #ffffff;
}

.section3 .title-box {
    background-color: #f4f2f3;
}

.learn-div .card {
    height: 100%;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 0;
}

.learn-div h1 {
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
    line-height: 50px;
}

.learn-div img {
    width: 60px;
    color: #a8a8a8;
}

.learn-div h4 {
    font-size: 18px;
    margin-top: 25px;
    color: #404040;
}

.learn-div p {
    color: #707070;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 0;
}

.learn-div button {
    border: 1px solid #ffffff;
}

.learn-div button a {
    color: #ffffff;
}

.space-bottom {
    margin-bottom: 50px;
}


/* SECTION4 */

.section4 {
    background-color: #FCFBFB;
}

.group4 {
    padding: 100px 0;
}

.group4 .box {

    background-color: #ffffff;
    padding: 80px;
}

.podcast-div {
    height: 550px;
    width: auto;
}

.podcast-div img {
    height: 100%;
    width: auto;
    background-color: #ffffff;
}

.group4 .title-div {
    margin-bottom: 30px;
}

.group4 p {
    color: #707070;
    font-weight: 300;
    font-size: 16px;
}

/* FORUM */

.section {
    margin: 50px 0 100px 0;
}

.forum-row .card {
    width: 48%;
    margin-bottom: 40px;
}

.related-div .card {
    width: 32%;
}

.forum-title {
    font-size: 20px;
    font-weight: 600;
    color: #404040;
}

.forum-body, .article-body, .cart-body, .about-body, .hallyu-body, .learn-body, .podcast-body, .store-body {
    background-color: #FFFFFF;
}

.forum {
    background-color: #ffffff;
}

.forum .card, .related-div .card {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.forum button img {
    width: 40px;
}

.nav-btn-pri, .nav-btn-sec {
    margin: 0 0 20px 0;
}

.forum .card-title {
    font-size: 22px;
    font-weight: 500;
    color: #404040;
    margin: 0 0 15px 0;
}

.forum .card-text, .related-div .card-text {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 20px 0;
    color: #404040;
    line-height: 30px;
}

.card-img-top {
    height: auto;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.space-div {
    padding: 20px;
}

.forum .card .col-md-2 {
    width: 10%;
}

.forum .comment-div {
    margin-left: 10px;
}

.searchbox {
    margin: 0 0 30px 0;
}

.searchbox input {
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #F3F4F6;
    width: 100%;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 400;
    color: #404040;
}

.searchbox input::placeholder {
    color: #a8a8a8;
    font-size: 14px;
    font-weight: 300;
}

.comment-section span {
    color: #662687;
    font-size: 14px;
    font-weight: 300;
}

.searchbox p {
    font-size: 10px;
    font-weight: 300;
    width: auto;
}

.searchbox .card-text {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    width: auto;
}

.comment-section .card-text {
    width: auto;
    font-weight: 300;
    font-size: 14px;
}

.comment-section.top-line {
    border-top: 0.5px solid #e9e9e9;
    padding-top: 20px;
}

.comment-section.top-line2 {
    border-top: 0.5px solid #ffffff;
    padding-top: 20px;
}

.comment .title {
    font-size: 14px;
    font-weight: 400;
    color: #404040;
    margin-bottom: 10px;
}

.forum li {
    transform: none;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #ffffff;
    min-width: 200px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    z-index: 1;
    margin-top: 15px;
}


.dropdown-button {
    color: #a8a8a8;
}

.comment {
    padding: 40px;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}

.dropdown button img {
    width: 15px;
    margin-right: 10px;
}

.add-comment {
    font-size: 14px;
    font-weight: 400;
    color: #4F4754;
    margin-left: 30px;
}

.tabs-div button {
    padding: 20px;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    background-color: #ffffff;
    border: none;
}

.tabs-div button a {
    text-decoration: none;
    color: #404040;
}

.tabs-div button:focus {
    background-color: #662687;
    color: #ffffff;
}

.nav-pills button img {
    width: 28px;
    margin-right: 14px;
}

.forum-div .nav, .learnkorean-div .nav, .store-div .nav, .hallyu-div .nav, .post-div .nav {
    display: block;
    margin-bottom: 20px;
}

.forum-div .card-text span, .learnkorean-div .card-text span .store-div .card-text span, .hallyu-div .card-text span {
    font-size: 14px;
    margin-left: 10px;
}

.forum-div .nav-link, .learnkorean-div .nav-link, .store-div .nav-link, .hallyu-div .nav-link, .post-div .nav-link {
    width: 100%;
    color: #404040;
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    background-color: #ffffff;
    padding-left: 20px;
    border: 1px solid #ffffff;
    text-align: left;
}

.forum-div .nav button:nth-child(5) {
    border-bottom: 1px solid #e9e9e9;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #404040;
    background-color: #F7F7F7;
}

.nav-pills .nav-link {
    border-radius: 0;
}

.forum.card {
    width: 100%;
    padding: 20px;
}

.post-box {
    background-color: #ffffff;
}

.forum.card a, .card a {
    text-decoration: none;
    color: #404040;
}

.post-box p, .post-div .post-box p {
    font-size: 20px;
    font-weight: 500;
}

.post-box input {
    width: 100%;
    padding: 20px;
    outline: none;
    border: 1px solid #e9e9e9;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.post-box input::placeholder {
    font-size: 16px;
    font-weight: 300;
    color: #404040;
}

.post-box button {
    padding: 12px 30px;
    outline: none;
    border: 1px solid #662687;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background-color: #662687;
    width: 120px;
    margin-top: 20px;
}

.post-box .form-select {
    border-radius: 0;
    margin-bottom: 10px;
    border: 1px solid #a8a8a8;
    font-size: 16px;
    font-weight: 300;
    color: #404040;
    padding: 10px 20px;
}

.post-box textarea {
    width: 100%;
    height: 120px;
    font-size: 16px;
    font-weight: 300;
    color: #404040;
    padding: 10px 20px;
}

.forum-body .modal-header p, .post-div .modal-header p {
    font-size: 18px;
    font-weight: 600;
    color: #404040;
    margin-bottom: 20px;
}

.post-box textarea::placeholder, .post-div textarea::placeholder {
    font-weight: 300;
    color: #404040;
}

.forum-div .modal-content, .post-div .modal-content {
    padding: 30px;
}


/* STUDY CARDS */

.study-cards {
    height: auto;
    border-radius: 5px;
}

.study-cards div img {
    width: 100%;
    height: 250px;
}

.study-cards {
    margin-top: 40px;
}

.study-cards:nth-child(1) {
    margin-top: 0;
}

.material-card {
    background-color: #ffffff;
    border: 1px solid #F4F4F4;
    width: 300px;
    border-radius: 4px;
    padding: 0;
    margin-bottom: 30px;
}

.material-details {
    padding: 20px 20px 30px 20px;
}

.material-details h6 {
    font-size: 16px;
    font-weight: 600;
    color: #404040;
}

.material-details p {
    font-size: 14px;
    font-weight: 300;
    color: #707070;
    margin-bottom: 25px;
}

.material-details button {
    padding: 10px 20px;
    outline: none;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #404040;
    background-color: #f7f7f7;
}

.material-details button:hover {
    border: 1px solid #f7f7f7;
}

.material-details button img {
    width: 15px;
    height: auto;
    margin-right: 10px;
}

.post-btn {
    padding: 20px;
    width: 100%;
    border: none;
    outline: none;
    background-color: #404040;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 20px;
}

/* MODAL */

.modal.show .modal-dialog {
    margin-top: 150px;
}

.modal-footer button {
    padding: 10px 20px;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
}

.modal-footer .close-btn {
    background-color: #ffffff;
    color: #662687;
    border: 1px solid #662687;
}

.modal-footer .confirm-btn {
    background-color: #662687;
    color: #ffffff;
    border: 1px solid #662687;
}

.modal-title {
    color: #404040;
    font-size: 20px;
    font-weight: 600;
}

.modal-body {
    padding: 40px 0;
}

.modal-body h6, .modal-body p {
    margin-bottom: 0;
}

.modal-body h6 {
    font-size: 30px;
    font-weight: 300;
    color: #404040;
    margin-bottom: 20px;
}

.modal-body h6:nth-child(1) {
    font-size: 20px;
}

.modal-body h6 span {
    font-size: 30px;
    font-weight: 600;
    color: #4F4754;
}

.modal-body p {
    font-size: 16px;
    font-weight: 300;
    color: #707070;
}

.modal-body img {
    width: 100px;
    margin-bottom: 20px;
}

/* PODACAST */

.podcast-row {
    margin-top: 50px;
}

.podcast-row .card, .space-card {
    width: 300px;
    margin-bottom: 40px;
}

.podcast-row:nth-child(1) {
    margin-top: 0;
}

.podcast-row .card-img {
    height: auto;
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.podcast-row .card .quote-box {
    background-color: #ffffff;
    padding: 30px 20px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.podcast-row .card .quote-box .thumbnail {
    font-size: 16px;
    font-weight: 300;
    color: #404040;
    text-align: center;
    margin-bottom: 10px;
}

.podcast-row .card .quote-box .date {
    font-size: 14px;
    font-weight: 600;
    color: #404040;
    text-align: center;
}

.quote-box button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #e9e9e9;
    background-color: #F7F7F7;
    color: #404040;
    font-size: 14px;
    font-weight: 400;
}

.quote-box button:hover {
    border: 1px solid #f7f7f7;
}

.quote-box button img {
    width: 12px;
    margin-right: 10px;
}

/* ABOUT US - CONTACT US */

.about-div {
    background-image: url(Assets/AboutUs-img.jpg);
    background-size: cover;
    height: auto;
    padding: 50px;
}

.text-bg {
    background-color: #ffffffed;
    padding: 50px;
    width: 800px;
}

.text-bg h4, .contact-form h4 {
    font-size: 25px;
    font-weight: 600;
    color: #404040;
    margin-bottom: 20px;
}

.text-bg p {
    line-height: 34px;
    font-size: 16px;
    font-weight: 300;
    color: #404040;
    padding-bottom: 20px;
    border-bottom: 1px solid #e9e9e9;
}

.text-bg button, .contact-form form button {
    padding: 15px 30px;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #662687;
    font-size: 16px;
    font-weight: 400;
}

.text-bg button {
    border: 1px solid #662687;
    background-color: #F7F7F7;
}

.text-bg button a, .contact-form form button a {
    text-decoration: none;
    color: #ffffff;
}

.text-bg button a {
    color: #662687;
}

.contact-div {
    padding: 150px 0;
}

.contact-form {
    background-color: #ffffff;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.046) 0px 0px 5px 0px, rgba(0, 0, 0, 0.037) 0px 0px 1px 0px;
}

.contact-form form input, .contact-form form textarea {
    width: 100%;
    border: 0.6px solid #a8a8a8;
    padding: 14px 20px;
    margin-bottom: 10px;
    border-radius: 2px;
    color: #404040;
    font-size: 14px;
    font-weight: 300;
}

.contact-form form textarea {
    height: 150px;
}

.contact-form form input:focus, .contact-form form textarea:focus {
    border: none;
    outline: 1px solid #404040;
}

.contact-div .img-box {
    width: 100%;
}

.contact-div .img-box img {
    width: 100%;
    height: auto;
}


/* ARTICLE */

.article-div {
    background-color: #ffffff;
}

.article-div p {
    font-size: 16px;
    font-weight: 300;
    color: #404040;
    line-height: 36px;
}

.article-div .card-img-top {
    margin-bottom: 40px;
}

.article-top-bg {
    background-color: #ffffff;
}

.article-div h4 {
    font-size: 30px;
    font-weight: 600;
    color: #404040;
    margin-bottom: 30px;
}

.article-top-bg img {
    width: 25px;
    margin-right: 10px;
}

.article-top-bg button {
    outline: none;
    border: none;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 0;
    color: #404040;
}

.article-top-bg button a {
    text-decoration: none;
    color: #404040;
}

.article-body .profile-div h6 {
    font-size: 16px;
    font-weight: 500;
    color: #404040;
    margin-top: 10px;
}

.more {
    margin-top: 30px;
}

.more p {
    font-size: 16px;
    font-weight: 400;
    color: #707070;
    margin-bottom: 20px;

}

.more button {
    background-color: #ffffff;
    border: 1px solid #404040;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    padding: 10px 20px;
    color: #404040;
    border-radius: 5px;
}

.related-div h4 {
    font-size: 26px;
    font-weight: 600;
    color: #404040;
    margin: 60px 0 30px 0;
}

/* CART */

.items {
    padding: 10px 25px;
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.06) 0px 8px 24px;
    margin: 20px 0;
}

.checkout {
    margin: 20px 0;
}

.item-row {
    padding: 30px 0;
    border-bottom: 0.2px solid #e9e9e9;
}

.item-row:last-child {
    border-bottom: none;
}

.image-div img {
    width: 120px;
    margin-right: 40px;
}

.close-div button {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
}

.close-div img {
    width: 30px;
}

.form-select {
    font-size: 20px;
    font-weight: 400;
}

.price-div div {
    font-size: 18px;
    font-weight: 400;
    color: #404040;
}

.desc-div {
    width: 200px;
}

.desc-div h6 {
    font-size: 16px;
    font-weight: 500;
    color: #404040;
}

.checkout-btn {
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    outline: none;
    border: none;
    background-color: #662687;
    border-radius: 5px;
}

.total {
    font-size: 25px;
    font-weight: 700;
    color: #404040;
    margin-right: 20px;
}

.checkout-div {
    margin: 20px 0;
    background-color: #ffffff;
    padding: 40px;
}

/* ORDER DIV */

.total, .collect, .payment, .personal {
    padding: 30px;
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.06) 0px 8px 24px;
    margin: 5px 0;
}

.payment button {
    padding: 15px;
    width: 100%;
    outline: none;
    border: none;
    background-color: #662687;
    color: #ffffff;
}

.total span {
    font-size: 16px;
    font-weight: 500;
    color: #404040;
}

.title {
    font-size: 18px;
    font-weight: 600;
    color: #404040;
    margin-bottom: 20px;
}

.cart-div .form-check {
    margin: 20px 0 30px 0;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.cart-div .form-check:last-child {
    margin-bottom: 0;
}

.cart-div .form-check-input:checked {
    background-color: #662687;
    border-color: #662687;
}

.cart-div .form-check label {
    color: #404040;
    font-size: 14px;
    font-weight: 400;
}

.cart-div .form-check form, .info-form form {
    margin-bottom: 20px;
}

.cart-div .form-check p, .personal p {
    font-size: 12px;
    font-weight: 300;
    color: #707070;
    padding-top: 10px;
}

.personal p {
    padding-top: 0;
}

.cart-div .form-check form input, .info-form form input {
    margin: 5px 0;
    padding: 10px;
    outline: none;
    border: 0.6px solid #404040;
    background-color: transparent;
    width: 49%;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
    color: #404040;
}

.cart-div .form-check form input::placeholder, .info-form form input::placeholder {
    font-size: 14px;
    font-weight: 300;
}


/* FOOTER */

footer {
    background-color: #662687;
    padding: 50px;
    margin-top: 155px;
}

.footer-brand {
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
}

.footer-brand:hover {
    color: #e9e9e9;
}

.brand-div {
    margin-bottom: 25px;
}

.copyright-div {
    color: #ffffff;
    margin-top: 25px;
    font-size: 12px;
}

.copyright-div img {
    width: 20px;
    color: #ffffff;
}


.btn-hamkke-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #662687;
    --bs-btn-border-color: #832fae;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #832fae;
    --bs-btn-hover-border-color: #8c33ba;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #832fae;
    --bs-btn-active-border-color: #8c33ba;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

@media (min-width: 1500px) {

    .logo-div {
        margin: 10% 0 40px 0
    }

}

@media (min-width: 1200px) {


    /* FORUM NAVBAR */
    section .navbar-expand-lg .navbar-nav {
        flex-direction: column;
    }

    section .navbar-expand-lg .navbar-collapse {
        display: block !important;
    }


    /* Homepage */
    .navbar .navbar-brand {
        margin-right: 30px;
        font-size: 20px;
    }

    .icon-bg {
        margin: 5px;
    }

    .socials {
        margin-right: 30px;
    }

    .podcast-div {
        height: 450px;
    }

    .card-box {
        height: 320px;
    }

    /* Learn-Korean */
    .forum-div .nav-link, .learnkorean-div .nav-link, .store-div .nav-link {
        padding: 20px;
        font-size: 16px;
    }

    .forum .card .col-md-2 {
        width: 12%;
    }

    .material-card {
        width: 32%;
    }

    /* Podcast */
    .podcast-row .card, .space-card {
        width: 24%;
    }

    /* Article */
    .related-div .card {
        width: 48%;
    }

    .related-div .card:nth-child(3) {
        display: none;
    }

    /* Order Div */
    .price-div div {
        font-size: 16px;
    }

    .form-select {
        font-size: 18px;
    }

}

@media (max-width: 1199px) and (min-width: 992px) {

    /* FORUM NAVBAR */
    section .navbar-expand-lg .navbar-nav {
        flex-direction: column;
    }

    section .navbar-expand-lg .navbar-collapse {
        display: block !important;
    }

    /* Homepage */
    .navbar .navbar-brand {
        margin-right: 30px;
    }

    .navbar .navbar-brand {
        font-size: 25px;
    }

    .socials {
        margin-right: 30px;
    }

    .socials .icon-bg {
        display: none;
    }

    .podcast-div {
        height: 350px;
    }

    .card-box {
        height: 250px;
    }

    .overlay p {
        font-size: 14px;
    }

    /* Learn-Korean */
    .forum-div .nav-link, .learnkorean-div .nav-link, .store-div .nav-link {
        padding: 15px;
        font-size: 14px;
    }

    .material-card {
        width: 48%;
    }

    .forum .card .col-md-2 {
        width: 12%;
    }

    .forum .card-title {
        font-size: 20px;
    }

    /* Article */
    .article-div, .article-top-bg {
        margin: auto 0;
    }

    .related-div .card {
        width: 48%;
    }

    .related-div .card:nth-child(3) {
        display: none;
    }

    /* Checkout */
    .info-form form .d-flex, .cart-div .form-check form .d-flex {
        flex-wrap: wrap;
    }

    .info-form form input, .cart-div .form-check form input {
        width: 100%;
    }

    .image-div img {
        width: 100px;
        margin-right: 20px;
    }

    .desc-div {
        width: 160px;
    }

    .desc-div h6 {
        font-size: 14px;
    }

    .price-div div, .title {
        font-size: 16px;
    }

    .form-select {
        font-size: 18px;
    }

}

@media (max-width: 991px) and (min-width: 768px) {

    /* FORUM NAVBAR */
    section .navbar-expand-lg .navbar-nav {
        flex-direction: column;
    }

    /* Homepage */
    .marginX {
        margin: auto 0;
    }

    .paddingR {
        padding-right: 0;
        padding-left: 0;
    }

    .navbar .navbar-brand {
        margin-right: 30px;
    }

    .navbar .navbar-brand {
        font-size: 25px;
    }

    .nav-item {
        padding: 5px 0;
    }

    .navbtn {
        margin-top: 20px;
    }

    .navbar-expand-lg .navbar-collapse {
        padding: 30px 0;
    }

    .socials {
        justify-content: start !important;
        margin: 40px 0;
    }

    .socials .icon-bg:nth-child(1) {
        margin-left: 0;
    }

    .podcast-div {
        height: 400px;
    }

    .card-box {
        height: 250px;
    }

    .overlay p {
        font-size: 14px;
    }

    .podcast-text {
        width: 100%;
        margin-top: 40px;
    }

    .learn-div {
        width: 50%;
        margin-bottom: 50px;
    }

    .learn-div:nth-child(1) {
        width: 100%;
    }

    .space-bottom {
        margin-bottom: 0;
    }

    .group2 .row .col-md-4 {
        width: 100%;
        margin-bottom: 30px;
    }

    .group1 {
        padding: 10px 0;
    }

    .group1 .row .col-md-4 {
        width: 100%;
        margin-top: 50px;
        order: 2;
    }

    .group1 .row .col-md-2 {
        width: 30%;
        padding: 0 10px;
        order: 1;
    }

    .card-box {
        height: 280px;
    }

    .overlay p {
        font-size: 14px;
        line-height: 24px;
    }

    .card-box .overlay {
        height: 120px;
    }

    .forum-div .nav, .learnkorean-div .nav, .store-div .nav, .hallyu-div .nav {
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    }

    /* Purchase Item */
    .material-card {
        width: 48%;
    }

    .forum-div .col-md-3, .hallyu-div .col-md-3, .article-body .col-md-3, .learnkorean-div .col-md-3, .store-div .col-md-3, .forum-div .col-md-9, .learnkorean-div .col-md-9, .store-div .col-md-9, .hallyu-div .col-md-9, .article-body .col-md-9 {
        width: 100%;
    }

    /* Forum */
    .forum {
        padding: 0;
    }

    .comment {
        padding: 20px;
    }

    .forum .card-title {
        font-size: 20px;
    }

    .profile-div {
        display: block !important
    }

    .forum .card-text {
        font-size: 14px;
        margin-top: 8px;
    }

    .profile-div span, .comment-div {
        font-size: 16px;
    }

    .profile-img {
        width: 30px;
        height: 30px;
    }

    .forum .card .col-md-2 {
        width: 10%;
    }


    .like-div span:nth-of-type(3) {
        display: block;
        margin-top: 10px;
    }


    /* Podcast */
    .podcast-row .card, .space-card {
        width: 48%;
    }

    /* Article */
    .text-bg {
        width: auto;
    }

    .related-div .card {
        width: 48%;
    }

    .related-div .card:nth-child(3) {
        display: none;
    }

    /* About Us */
    .about-div {
        padding: 50px 0;
    }

    .contact-div .img-box img {
        display: none;
    }

    .contact-div .col-md-6:nth-child(1) {
        width: 100%;
    }

    /* Checkout */
    .cart-div .col-md-8, .cart-div .col-md-4 {
        width: 100%;
    }

    .payment button {
        padding: 15px 40px;
        width: auto;
    }

    .image-div img {
        margin-right: 20px;
    }

    .price-div div {
        font-size: 16px;
    }

    .form-select {
        font-size: 18px;
    }

    .desc-div h6 {
        font-size: 14px;
    }

    .items {
        margin: 20px 0 0 0;
    }

}

@media (max-width: 767px) and (min-width: 575px) {

    .logo-div {
        margin: 5% 0 40px 0
    }

    /* Homepage */
    .marginX {
        margin: auto 0;
    }

    .paddingR {
        padding-right: 0;
        padding-left: 0;
    }

    .navbar .navbar-brand {
        margin-right: 30px;
    }

    .navbar .navbar-brand {
        font-size: 25px;
    }

    .nav-item {
        padding: 5px 0;
    }

    .navbtn {
        margin-top: 20px;
    }

    .navbar-expand-lg .navbar-collapse {
        padding: 30px 0;
    }

    .socials {
        justify-content: start !important;
        margin: 40px 0;
    }

    .socials .icon-bg:nth-child(1) {
        margin-left: 0;
    }

    .carousel-overlay .title {
        left: 50px;
    }

    .group1 .row .col-md-2:nth-child(2), .group1 .row .col-md-2:nth-child(3) {
        display: none;
    }

    .carousel-overlay p {
        width: auto;
    }

    .podcast-div {
        height: 300px;
    }

    .group4 .box {
        padding: 20px;
    }

    .group1 .row .col-md-4 {
        width: 100%;
        margin-top: 50px;
        order: 2;
    }

    .group1 .row .col-md-2 {
        width: 100%;
        padding: 0 150px;
        order: 1;
    }

    .card-box {
        height: auto;
    }

    .group2 .row .col-md-4 {
        width: 100%;
        margin-bottom: 30px;
    }

    .learn-div {
        margin-bottom: 30px;
    }

    .space-bottom {
        margin-bottom: 0;
    }

    .group4 .box {
        padding: 30px;
    }

    .podcast-div {
        height: 300px;
        margin-bottom: 50px;
    }

    .carousel-overlay img, .carousel-item img {
        height: 450px;
    }

    .forum-div .nav, .learnkorean-div .nav, .store-div .nav, .hallyu-div .nav {
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    }

    /* Purchase Item */
    .material-card {
        width: 48%;
    }

    .material-details button {
        width: 100%;
        justify-content: center;
    }

    /* Forum */
    .forum {
        padding: 0;
    }

    .comment {
        padding: 20px;
    }

    .profile-div {
        display: block !important
    }

    .profile-img {
        width: 30px;
        height: 30px;
    }

    .forum .card-text {
        font-size: 14px;
        margin-top: 8px;
    }

    .profile-div span, .comment-div {
        font-size: 14px;
    }

    .forum .card .col-3 {
        width: 15%;
    }

    .forum .card-title {
        font-size: 18px;
    }

    .like-div span:nth-of-type(3) {
        display: block;
        margin-top: 10px;
    }


    /* Podcast */
    .podcast-row .card {
        width: 250px;
    }


    /* Article */
    .related-div .card {
        width: 100%;
    }

    .profile-div {
        margin-bottom: 10px;
    }

    /* About Us */
    .about-div {
        padding: 50px 0;
    }

    .text-bg {
        width: auto;
    }

    .contact-div .img-box img {
        display: none;
    }

    .contact-div .col-md-6:nth-child(1) {
        width: 100%;
    }

    /* Checkout */
    .cart-div .col-md-8, .cart-div .col-md-4 {
        width: 100%;
    }

    .payment button {
        padding: 15px 40px;
        width: auto;
    }

    .image-div img {
        width: 80px;
        margin-right: 10px;
    }

    .desc-div {
        width: 120px;
    }

    .desc-div h6 {
        font-size: 12px;
    }

    .price-div div {
        font-size: 14px;
    }

    .form-select {
        font-size: 16px;
    }

    .items {
        margin: 20px 0 0 0;
    }

}

@media (max-width: 576px) {

    /* Homepage */
    .navbar .navbar-brand {
        margin-right: 30px;
    }

    .navbar .navbar-brand {
        font-size: 25px;
    }

    .nav-item {
        padding: 5px 0;
    }

    .navbtn {
        margin-top: 20px;
    }

    .navbar-expand-lg .navbar-collapse {
        padding: 30px 0;
    }

    .carousel-overlay .title {
        left: 50px;
    }

    .socials {
        justify-content: start !important;
        margin: 40px 0;
    }

    .socials .icon-bg:nth-child(1) {
        margin-left: 0;
    }

    .group1 .row .col-md-2:nth-child(2), .group1 .row .col-md-2:nth-child(3) {
        display: none;
    }

    .carousel-overlay p {
        width: auto;
    }

    .podcast-div {
        height: 300px;
    }

    .group4 .box {
        padding: 20px;
    }

    .group1 .row .col-md-4 {
        width: 100%;
        margin-top: 50px;
        order: 2;
    }

    .group1 .row .col-md-2 {
        width: 100%;
        padding: 0 150px;
        order: 1;
    }

    .card-box {
        height: auto;
    }

    .group2 .row .col-md-4 {
        width: 100%;
        margin-bottom: 30px;
    }

    .learn-div {
        margin-bottom: 30px;
    }

    .space-bottom {
        margin-bottom: 0;
    }

    .group4 .box {
        padding: 30px;
    }

    .podcast-div {
        height: 300px;
        margin-bottom: 50px;
    }

    .carousel-overlay img {
        width: 100vw;
    }

    .carousel-item {
        display: none !important;
    }

    .forum-div .nav, .learnkorean-div .nav, .store-div .nav, .hallyu-div .nav {
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    }


    /* Purchase Items */
    .material-card {
        width: 48%;
    }

    .nav-pills button img {
        width: 25px;
        margin-right: 10px;
    }

    .marginX {
        margin: auto 0;
    }

    .paddingR {
        padding-right: 0;
        padding-left: 0;
    }

    .title-div.sm {
        margin: 0 12px 40px 12px;
    }

    .forum-div .col-md-9, .learnkorean-div .col-md-9, .store-div .col-md-9 {
        padding-left: 0;
        padding-right: 0;
    }

    .material-card {
        width: 48%;
    }

    .material-details button {
        width: 100%;
        justify-content: center;
        padding: 10px;
    }

    /* Forum */
    .forum {
        padding: 0;
    }

    .comment {
        padding: 20px;
    }

    .profile-div {
        display: block !important
    }

    .profile-img {
        width: 30px;
        height: 30px;
    }

    .forum .card-title {
        font-size: 18px;
    }

    .forum .card-text {
        font-size: 14px;
        margin-top: 8px;
    }

    .profile-div span, .comment-div {
        font-size: 16px;
    }

    .forum .card .col-3 {
        width: 15%;
    }

    .forum-row .card {
        width: 100%;
    }

    .like-div span:nth-of-type(3) {
        display: block;
        margin-top: 10px;
    }


    /* Podcast */
    .podcast-row .card {
        width: 48%;
    }

    /* Article */
    /* About Us */
    .about-div {
        padding: 50px 0;
    }

    .text-bg {
        width: auto;
    }

    .contact-div .img-box img {
        display: none;
    }

    .contact-div .col-md-6:nth-child(1) {
        width: 100%;
    }

    .text-bg button, .contact-form form button {
        width: 100%;
    }

    /* Modal */
    .modal.show .modal-dialog {
        margin-top: 150px;
    }

    /* Checkout */
    .cart-div .col-md-8, .cart-div .col-md-4 {
        width: 100%;
    }

    .image-div img {
        width: 60px;
        margin-right: 10px;
    }

    .desc-div {
        width: 120px;
    }

    .desc-div h6 {
        font-size: 12px;
        font-weight: 400;
    }

    .price-div div {
        font-size: 14px;
    }

    .form-select {
        font-size: 14px;
    }

    .items {
        padding: 10px;
        margin: 20px 0 0 0;
    }

    .close-div img {
        width: 20px;
    }

}

@media (max-width: 500px) {

    .carousel-overlay p {
        width: 300px;
    }

    .carousel-overlay .title {
        left: 40px;
    }

    .group1 .row .col-md-2 {
        padding: 0 80px;
    }

    .forum {
        padding: 0;
    }

    /* Podcast */
    .podcast-row .card {
        width: 230px;
    }

    /* Contact Us */
    .contact-form, .text-bg {
        padding: 50px 30px;
    }

    .forum .card .col-3 {
        width: 18%;
    }

}

@media (max-width: 488px) {

    /* Podcast */
    .podcast-row .card {
        width: 48%;
    }

}

@media (max-width: 470px) {

    /* Podcast */
    .podcast-row .card {
        width: 100%;
    }

}

@media (max-width: 400px) {

    .material-card {
        width: 48%;
    }

    .image-div img {
        width: 40px;
    }

}

@media (max-width: 462px) {

    /* Learn Korean */
    .forum-div .nav span, .learnkorean-div .nav span, .store-div .nav span {
        display: block;
    }

    .material-card {
        width: 100%;
    }

    .total {
        font-size: 20px;
    }

}

@media (max-width: 388px) {

    .group1 .row .col-md-2 {
        padding: 0 80px;
    }

    .forum {
        padding: 0;
    }

    .forum .card .col-3 {
        width: 20%;
    }

    .forum .card-text {
        font-size: 12px;
    }

    .image-div img {
        display: none;
    }

}

/* LOGIN */

@media (max-width: 767px) and (min-width: 500px) {

    .logo-div {
        margin: 15% 0 40px 0
    }

    .login-div form {
        width: 600px;
    }
}

@media (max-width: 501px) {

    .logo-div {
        margin: 10% 0 40px 0
    }

    .login-div form {
        width: 100%;
    }
}



